<div><%= flash[:notice] %></div>

<p><strong>Title</strong></p>
<p><%= @book.title %></p>

<p><strong>Body</strong></p>
<p><%= @book.body %></p>

<a href="<%= edit_book_path(@book.id) %>">Edit</a>
<%= link_to "Back", books_path %>